* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: -1px;
  font-family: Helvetica, sans-serif;
}

html {
  background-color: #1c1c1c;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 5vh 0;
  background-color: #1c1c1c;
}
.main .past {
  display: flex;
  align-items: center;
  justify-content: center;
  height: clamp(200px, 30vh, 500px);
  width: 100%;
}
.main .past .pastLotteryCard {
  display: flex;
  height: fit-content;
  width: clamp(80px, 30%, 250px);
  border: 5px solid #f4eddc;
  border-radius: 3px;
  overflow: hidden;
}
.main .past .pastLotteryCard img {
  width: 100%;
}
.main .past #prio-0 {
  z-index: 3;
  position: absolute;
  margin-left: -40%;
  filter: brightness(0.7);
}
.main .past #prio-1 {
  z-index: 4;
  position: absolute;
  filter: brightness(0.85);
}
.main .past #prio-2 {
  z-index: 5;
  position: absolute;
  margin-left: 40%;
}
.main .circle {
  display: block;
  width: 85vw;
  height: 85vw;
  border-radius: 100%;
  background-color: #8f0101;
  z-index: 0;
  position: absolute;
  top: 40vh;
  flex: 1;
}
.main .cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  padding-top: 5vh;
  flex: 1;
}
.main .cardContainer .lotteryCard {
  display: flex;
  overflow: hidden;
  width: clamp(100px, 56vw, 400px);
  height: fit-content;
  border: 10px solid #f4eddc;
  border-radius: 5px;
}
.main .cardContainer .lotteryCard img {
  width: 100%;
}
.main .cardContainer h3 {
  margin-top: 1vh;
  color: #fff;
}
.main .cardContainer h2 {
  text-transform: uppercase;
  margin-top: 1vh;
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
}
.main .actions {
  margin-top: 2vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}
.main .actions button {
  margin-top: 2vh;
  width: 33vw;
  height: 5vh;
  border-radius: 20px;
  background-color: #8f0101;
  color: #fff;
  border: none;
}
.main .actions button:active {
  background-color: #700000;
}
.main .actions button:disabled {
  background-color: rgba(143, 1, 1, 0.6196078431);
}
.main .cover {
  display: flex;
  background-color: rgba(28, 28, 28, 0.6);
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}
.main .cover form {
  margin-top: -10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65vw;
  height: 40vh;
  background-color: #8f0101;
  border-radius: 50px;
}
.main .cover form > * {
  margin: 1vh 0;
}
.main .cover form .close {
  position: absolute;
  top: 27%;
  left: 70%;
  font-size: 1.5rem;
  font-weight: 100;
  background-color: transparent;
  color: #fff;
  border: none;
}
.main .cover form span {
  font-size: 1rem;
  color: #fff;
}
.main .cover form .switch {
  position: relative;
  display: inline-block;
  width: 20%;
  height: 8%;
}
.main .cover form .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.main .cover form .switch input:checked + .slider {
  background-color: #16bb00;
}
.main .cover form .switch input:checked + .slider::before {
  transform: translateX(125%);
}
.main .cover form .switch .slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 30px;
}
.main .cover form .switch .slider::before {
  position: absolute;
  content: "";
  height: 80%;
  width: 40%;
  left: 5%;
  bottom: 10%;
  background-color: #fff;
  transition: 0.3s;
  border-radius: 30px;
}
.main .cover form #inputText {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #1c1c1c;
  width: 30%;
  text-align: center;
  color: #fff;
}
.main .cover form #inputText::placeholder {
  color: rgba(255, 255, 255, 0.6196078431);
  text-align: center;
}
.main .cover form #inputText:focus {
  border-bottom: 2px solid #1c1c1c;
  outline: none;
}
.main .cover form #save {
  color: #fff;
  font-weight: 500;
  background-color: transparent;
  border: none;
  padding: 15px;
  border-radius: 30px;
}

@media only screen and (min-width: 500px) {
  .main .circle {
    display: none;
  }
}